.banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.ncl.com/sites/default/files/LYT_06_Spectacular_Port_Hills_View_1920x1080_LG.jpg);
    background-position: 0, 50%;
    object-fit: fill;
}

.banner-content h1 {
    font-size: 50px;
}

.banner-content p {
    font-size: 20px;
}

.banner-content {
    line-height: 1.6;
    color: white;
}

.homepage-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-title {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-title h1 {
    font-size: 40px;
    line-height: 2;
}

.boxes-container {
    display: flex;
    justify-content: center;
}

.box1, .box2, .box3 {
    text-align: center;
    margin: 10px;
    background-color: #356624;
    color: white;
}

.box1 h2, .box2 h2, .box3 h2 {
    margin: 10px;
}

.box1 a button, .box2 a button, .box3 a button {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: #b2d1b3;
    border: none;
    border-radius: 5px;
}

.skiing-activities {
    display: block;
    list-style: square;
}

.skiing-activities li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.skiing-activities li:hover {
    background-color: #356624;
    cursor: default;
}

.surfing-activities {
    display: block;
    list-style: square;
}

.surfing-activities li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.surfing-activities li:hover {
    background-color: #356624;
    cursor: default;
}

.rock-climbing-activities {
    display: block;
    list-style: square;
}

.rock-climbing-activities li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.rock-climbing-activities li:hover {
    background-color: #356624;
    cursor: default;
}

.destinations-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinations-content {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.destinations-content h1 {
    font-size: 40px;
    line-height: 2;
}

.destinations-boxes-container {
    display: flex;
    justify-content: center;
}

.box4, .box5, .box6 {
    text-align: center;
    margin: 10px;
    background-color: #356624;
    color: white;
}

.box4 h2, .box5 h2, .box6 h2 {
    margin: 10px;
}

.box4 a button, .box5 a button, .box6 a button {
    margin: 10px;
    cursor: pointer;
    padding: 5px;
    background-color: #b2d1b3;
    border: none;
    border-radius: 5px;
}

.museums {
    display: block;
    list-style: square;
}

.museums li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.museums li:hover {
    background-color: #356624;
    cursor: default;
}

.parks {
    display: block;
    list-style: square;
}

.parks li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.parks li:hover {
    background-color: #356624;
    cursor: default;
}

.tourist-attractions {
    display: block;
    list-style: square;
}

.tourist-attractions li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.tourist-attractions li:hover {
    background-color: #356624;
    cursor: default;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 15px;
    background-color: #5b8755;
}

.footer-content {
    width: 30%;
    text-align: center;
    color: white;
}